# .env.example
# Copie este arquivo para .env e ajuste os valores

# Evolution API
EVOLUTION_API_KEY=sua_chave_aqui
SERVER_URL=http://localhost:8080

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=evolution
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# PgAdmin
PGADMIN_EMAIL=seu@email.com
PGADMIN_PASSWORD=sua_senha
PGADMIN_PORT=5050

# Redis Commander
REDIS_COMMANDER_PORT=8081

# Logs
LOG_LEVEL=DEBUG
